html, body {
    height: 100%;
    margin: 0; 
}

body {
    background-color: whitesmoke; /* Color de fondo para todo el cuerpo */
}

.container-fluid {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 20px; /* Añadir un poco de padding */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.table {
    margin-top: 20px;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: transparent; /* Cambiar a transparente */
}

.table th, .table td {
    text-align: center;
    padding: 10px 15px;
    vertical-align: middle;
}

.table th {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
}

.table tbody tr {
    transition: background-color 0.3s ease;
}

.table tbody tr:hover {
    background-color: #e3f2fd;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table td {
    border: 1px solid #dee2e6;
}

.btn {
    margin-bottom: 1rem; 
}

@media (min-width: 768px) {
    .btn {
        margin-bottom: 0; 
    }
}

.d-flex {
    display: flex; /* Usar flexbox para la alineación */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Espacio superior para separación */
}

.btn {
    padding: 0.4rem 0.8rem; /* Ajusta el tamaño del padding */
    font-size: 0.9rem; /* Tamaño de fuente */
    min-width: 80px; /* Ancho mínimo */
    max-width: 120px; /* Ancho máximo */
    text-align: center; /* Centra el texto dentro del botón */
    border-radius: 0.25rem; /* Bordes redondeados */
    display: inline-flex; /* Asegura que el botón se comporte como un bloque en línea */
    align-items: center; /* Centra el contenido del botón verticalmente */
    margin: 0 10px; /* Espaciado horizontal entre botones */
}