<form [formGroup]="autorForm">
    <div class="container-fluid">
        <h1 class="mb-4 text-center">Edición de Gestión de Autores</h1>
        
        <div>
            <div class="row">
                <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="search1" formControlName="nombre" placeholder="Nombre Autor">
                        <label for="search1">Nombre Autor</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="search2" formControlName="fechaNacimiento">
                        <label for="search2">Fecha de Nacimiento</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating">
                        <select class="form-control" formControlName="nacionalidad">
                            <option value="0">Seleccione</option>
                            <option *ngFor="let nationality of nacionalidades" [value]="nationality.id">
                                {{ nationality.nombreNacionalidad }}
                            </option>
                        </select>
                        <label for="search4">Nacionalidad</label>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="d-flex">
                <button class="btn btn-danger" (click)="goListAutores()">Volver</button>
                <button class="btn btn-warning" (click)="editarAutor()" *ngIf="!validations">Guardar</button>
            </div>
    </div>
</form>